<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ajax</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.15.5/css/ui.jqgrid.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqgrid/5.6.0/js/jquery.jqGrid.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.15.5/jquery.jqgrid.min.js"></script>
    <meta name="_csrf_token" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>
<body>
AJAX Sample
<div class="mainWrap">
    <table id="mainGrid"></table>
    <div id="mainPager"></div>
</div>
<script type="text/javascript">
    var mainColNames = ['ID', 'Amt', 'Price', 'Level', 'Price', 'Amt'];
    var mainColModel = [
        {name:'id', index:'id', align:'center', editable: 'false', sortable: false, hidden: true, key:true},
        {name:'askamt', index:'askAmt', align:'right', editable: 'false', sortable: false },
        {name:'askprice', index:'askPrice', align:'right', editable: 'false', sortable: false },
        {name:'level', index:'level', align:'center', editable: 'false', sortable: true },
        {name:'bidprice', index:'bidPrice', align:'right', editable: 'false', sortable: false },
        {name:'bidamt', index:'bidAmt', align:'right', editable: 'false', sortable: false }
    ];

    var csrfToken=$('meta[name="_csrf_token"]').attr('content');
    $.ajaxSetup({
        headers: {
            'X-CSRF-Token' : csrfToken
        }
    })

    $(function() {
        $("#mainGrid").jqGrid({
            url:'/public/getDepth',
            editurl:'/public/editDepth',
            mtype:'post',
            dataType: 'json',
            loadtext: 'Loading...',
            //height: 300,
            autowidth: false,
            colNames:  mainColNames,
            colModel: mainColModel,
            pager: '#mainPager',
            rowNum: 10
        });

        $("#mainGrid").jqGrid('setGroupHeaders', {
            //useColspanStyle: false,
            groupHeaders: [
                {startColumnName: 'askamt', numberOfColumns: 2, titleText: 'Ask'},
                {startColumnName: 'orderid', numberOfColumns: 1, titleText: ''},
                {startColumnName: 'bidprice', numberOfColumns: 2, titleText: 'Bid'}
            ]
        });

        $("#mainGrid").jqGrid('navGrid','#mainPager'
        , {add:true, edit:false, del:true, refresh: true, search: false, reloadAfterSubmit:true}
        , {  //** edit option **
                closeAfterEdit: true
            }
        , {  //** add option **
                closeAfterAdd: true
            }
        , {  //** delete option **
                afterComplete: function(response) {
                    $("#mainGrid").clearGridData();
                }
            }
        );
    });

</script>
</body>
</html>